project_id                  = "terraform-lab-504603"
region                      = "asia-south1"
zone                        = "asia-south1-a"
machine_type                = "e2-micro"
vm_name                     = "html-demo-vm"
network_name                = "gcp-demo-vpc"
subnet_cidr                 = "10.0.0.0/24"
deployment_service_account_id = "gcp-demo-deployer"
wif_pool_id                 = "github-actions-pool"
wif_provider_id             = "github-oidc"
github_owner                = "GokulV2795"
github_repo                 = "simple_app_terraform_Deployment"
tfstate_bucket_name         = "terraform-lab-504603-tfstate"
